<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/about_us.css') }}">
</head>
<body>

<div class="container">
    <h1>About Us</h1>
    <p>Welcome to our website! We are dedicated to providing quality products/services to our customers.At Yoga Pose Estimation, we are passionate about revolutionizing the yoga experience through innovative technology. 
         
    <h2>Our Mission</h2>
    <p>Our mission is to exceed our customers' expectations by providing them with the best products/services possible.
        mission is to empower individuals in their yoga practice by providing accurate feedback and guidance using mediapipe pose estimation algorithms. our platform merges the ancient wisdom of yoga with modern advancements in computer vision. We believe that everyone, regardless of experience level, should have access to personalized instruction and feedback to deepend their practice and foster holistic well-being. With a team of experts in both yoga and technology, we are committed to helping individuals enhance their mind-body connection and achieve their wellness goals. 
       Join us on this journey to transform your yoga practice and unlock your full potential."</p></p>
    </p>
    
     <h2>Contact Us</h2>
    <p>If you have any questions or inquiries, feel free to <a href="contact_us">contact us</a>.</p>
</div>

</body>
</html>
